body{
  font-family:sans-serif ;
}


.seccion{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3px ;
  background-color: #1e1630;
  color: aliceblue;
  font-size: 16px;
  }

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.seccion a{
  color: aliceblue;
  text-align:left;
  margin-right: -290px;
  text-decoration: none;
}
.btnOne{
  background: linear-gradient(to right,#8441d5,#3498db);
  color: aliceblue;
  padding: 10px;
  width: 115px;
  border-radius: 4.5px;
  cursor: pointer;
}

.seccion1{
  background-image: url(../assets/hojasFondo.jpg);
  display: flex;
 justify-content: space-around;
}

.izquierda{
  background-color: #2e244f;
  color: aliceblue;
  width: 50%;
  padding-left: 230px;
  

}
.izquierda h1{
  margin-top: 140px;
  font-size: 85px;
}
.izquierda p{
  font-size: 25px;
}

.botones{
  font-family: sans-serif;
  border: none;
  cursor: pointer;

}
.btn1{
  background-color: white;
  color: deeppink;
  padding:10px 34px 10px 34px;
  font-size: 16px;
}

.btn2{
  background-color: #2a1a47;
  color: white;
  border: 2px solid white;
  padding:10px 30px 10px 30px;
  font-size: 16px;
}

 .derecha {
  width: 65%;
}



.imagen1{
  padding-left: 120px;
  height: 67%;
 margin-top: 140px;
}

.todo {
  display: flex;
  justify-content: space-around;
}

.titulo{
  font-size: 50px;
  text-align: center;
  color: deeppink;
}

.imagen2{
  height: 350px;
  padding-left: 170px;
}

.alpha{
 padding-right: 240PX;
}

.tituloM{
  color: #78547d;
  font-size: 40px;
}

.tituloR{
  color: deeppink;
  font-size: 20px;
}

.iconos a{
  color: deeppink;
}




.seccion3{
  background-color: #2e244f; 
}

.titulo3{
  text-align: center;
  color: aliceblue;
  font-size: 50px;
  padding-top: 30px;
}

.textoblanco{
  text-align: center;
  color: rgb(135, 148, 160);
  font-size: 17px;
}

.todo2{
  display: flex;
  justify-content: space-around;
}

.hoja{
  color:black;
  background-color: white;
  width: 37vh;
  height: 500px;
}

.hoja img{
  padding-left: 100px;
}

.hoja h5{
  color: deeppink;
  text-align: center;
}
.cero{
  text-align: center;
}
 .listaOne a{
  color: deeppink;
  padding-left: 60px;
 }

 .texto2{
  text-align: center;
  padding: 10px 20px 10px 20px;
 }

 .btnRosa{
  position: relative;
  left: 60px; 
  background-color: deeppink;
  color: white;
  border: 1px solid deeppink;
  padding:10px 23px 10px 23px;
  font-size: 16px;
  border-radius: 5px;
 }























.nube{
  color:black;
  background-color: white;
}
 
.Portafolio{
  color:black;
  background-color: white;
}
